  {{#link-to 'book' book.id}}
  <div class="well">
    <div class="row">
      <div class="col-md-4">
        <p><img class="image-home" src="{{book.img}}"></p>
      </div>
      <div class="col-md-8">
        <h2>{{book.title}}</h2>
        <p>by {{book.author}}</p>
        <p>
          {{book.description}}
        </p>
      </div>
    </div>
  </div>
  {{/link-to}}
