<div class="container">
  <header>
    <img src="https://securepubads.g.doubleclick.net/pcs/view?xai=AKAOjsuNysipE8B_-EoZ2cE1GdyQhItLqfs2STScZwthwa9luW7VlWR2W33QtUni6ndrz4L4HWJSAB7FSQ5rJmx12HWQfJ6TsFVel6mCGv6ikCUtB0X8zbKd42x3cTjrHcyTuIK-hkKXjAM-0QHdkRQXoEITkMkdnsgaFWhJe2PWrTBKDHfCJZAxvPF8QLKDLDR3ZVi_EiCcDCgKB8jsccXLrHuUxskOoIWpiLOPOOjr9dTEx7t5lsZokzcOJcN4faJ0FbycpO6B_770-8A&sig=Cg0ArKJSzMJz6Co1nzW-EAE&urlfix=1&adurl=https://lovelace-media.imgix.net/uploads/1442/ebfdc450-e578-0134-ceee-0aec1efe63a9.jpg?w=375&h=188fit=clip&auto=format&q=70" alt="" />
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
        </a>
    </div>
  </div>
        <p class="navbar-text">BUSTLE</p>
    </nav>
  </header>
  <h1>Bustle</h1>
  <body>
    
  </body>
  {{outlet}}
</div>
